.video-container {
  height: 50vh;
  padding-top: 30px;
  border-top: 1px solid #4DB6AC;
}

.webcam-video {
  display: none;
}

.option-title {
  font-size: 25px !important;
}

.alert-container {
  margin-left: 12%;
  margin-right: 12%;
}

.color-picker {
  margin-top: 20px;
  margin-bottom: 15px;
}

.color-tab {
  border-radius: 0;
  box-shadow: none;
  height: 14vh;
  width: 14vh;
  border: 1px solid white !important;
}

.css-ptiqhd-MuiSvgIcon-root {
  color: #4DB6AC;
  font-weight: bold;
  width: 3em !important;
  height: 3em !important;
}

.option-tab {
  color: white;
}

.tab-label {
  color: white !important;
  font-size: 20px !important;
  width: 200px !important;
}

.tab-label:hover {
  color: white !important;
  background-color: #4DB6AC !important;
}

.start-button {
  background-color: transparent !important;
  border: 1px solid white !important;
  color: white !important;
}

.start-button:hover {
  background-color: white !important;
  color: black !important;
}

.stop-button {
  border-color: red !important;
  color: red !important;
}

.stop-button:hover {
  background-color: red !important;
  color: white !important;
}

@media screen and (max-width: 900px) {
  .video-container {
    min-height: 700px;
  }
}

@media screen and (max-width: 480px) {
  .tab-label {
    font-size: 15px !important;
    width: 150px !important;
  }
}