.video-container {
  height: 50vh;
}
.picker-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.color-picker {
    height: 120px !important;
}

.material-picker {
    width: 130px !important;
    height: 120px !important;
}

.webcam-video {
  display: none;
}

.option-title {
  font-size: 25px !important;
}

.input-col {
  display: flex !important;
  justify-content: right;
  padding-right: 30px !important;
}

.output-col {
  display: flex !important;
  justify-content: left;
  padding-left: 30px !important;
}

.color-box {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    overflow: "auto";
    max-width: 100%;
    z-index: 3;
}

.color-card {
  border-radius: 0;
  box-shadow: none;
  height: 10vh;
  width: 10vh;
}

.color-img {
  border-radius: 0;
  object-fit: cover;
  width: 10vh;
  height: 10vh;
  border: 1px solid white;
}

.option-tab {
  color: white;
}

.tab-label {
  color: white !important;
  font-size: 20px !important;
  width: 200px !important;
}

.tab-label:hover {
  color: white !important;
  background-color: #4DB6AC !important;
}

.start-button {
  background-color: transparent !important;
  border: 1px solid white !important;
  color: white !important;
}

.start-button:hover {
  background-color: white !important;
  color: black !important;
}

.stop-button {
  border-color: red !important;
  color: red !important;
}

.stop-button:hover {
  background-color: red !important;
  color: white !important;
}