.App {
    text-align: center;
    height: 100%;
  }
  
  .page-container {
    position: relative;
    min-height: 85vh;
  }
  
  .app-header {
  
  }
  
  .app-footer {
    background-color: gray!important;
    color: white;
    bottom: 0;
    position: relative;
    /* margin-top: 10px; */
  }
  
  .app-footer .copyright-section {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }