.App {
  text-align: center;
  background-color: black;
}

.page-container {
  padding-top: 15px;
  position: relative;
  width: 100%;
  min-height: calc(100vh-85px);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-header {
  height: 8vh;
}

.navbar-collapse {
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
  z-index: 300;
}

.navbar-nav {
  --bs-nav-link-color: #4DB6AC !important;
}

.app-footer {
  background-color: rgba(var(--bs-dark-rgb),1) !important;
  color: white;
  bottom: 0;
  /* height: 8vh; */
  width: 100vw;
}

.app-footer .copyright-section {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}


