.App {
  text-align: center;
  height: 100%;
}

.page-container {
  padding-top: 15px;
  position: relative;
  min-height: 85vh;
}

.app-header {
  height: 8vh;
}

.app-footer {
  background-color: gray!important;
  color: white;
  bottom: 0;
  height: 8vh;
  width: 100vw;
  position: fixed;
}

.app-footer .copyright-section {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}



.rect-img {
  object-fit: cover;
  width: 150px;
  height: 150px;

}